<router-outlet></router-outlet>
<button mat-raised-button color="accent">Accent</button>
<button mat-raised-button color="primary"
    matBadge="8" matBadgePosition="before" matBadgeColor="accent">
  Action
</button>
<button mat-flat-button>click</button>
<button mat-stroked-button>click</button>
<button mat-icon-button>click</button>
<button mat-fab>click</button>
<mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
<!-- <form #userName="ngForm" (ngSubmit)="onClickSubmit(userName.value)"> 
  <input type="text" name="username" placeholder="username" ngModel> 
  <br/> 
  <br/> 
  <input type="submit" value="submit"> 
</form> -->